@import url('https://fonts.googleapis.com/css?family=ABeeZee');

body {
	width: 250px;
	font-family: 'ABeeZee', sans-serif;
}

.table td, .table th {
	padding: 0.30rem;
}

.table {
	font-size: 10pt !important;
	margin-bottom: 0;
}

tr.active {
	background-color: #EDEDED;
}
tr.active th {
	background-color: #EDEDED;
}

.card {
	margin: 0;
}
.card-body {
	padding: 0;
}

.card-header {
	text-align: center;
}
.card-title {
	font-size: 14pt;
	margin: 0;
}

#currentDateTime {
	font-size: 10pt;
	margin: 0;
}