/* @import url('https://fonts.googleapis.com/css?family=ABeeZee'); */
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

body {
	font-family: 'Exo', sans-serif;
}

.btn-secondary.focus,
.btn-secondary:focus {
	box-shadow: none;
}


.table td, .table th {
	padding: 0.50rem;
}

.table {
	font-size: 12pt !important;
	margin-bottom: 0;
}

tr.active {
	background-color: #EDEDED;
}
tr.active th {
	background-color: #EDEDED;
}

.card {
	margin: 0;
}
.card-body {
	padding: 0;
}

.card-title {
	font-size: 2rem;
	font-weight: 700;
}

#currentDateTime {
	font-size: 10pt;
	margin: 0;
}

.right-side {
	height: 100vh;
}

#notification_panel {
	display: none;
}