@import url('https://fonts.googleapis.com/css?family=ABeeZee');

body {
	width: 250px;
	font-family: 'ABeeZee', sans-serif;
}

.table td, .table th {
	padding: 0.30rem;
}

.table {
	font-size: 10pt !important;
	margin-bottom: 0;
}

tr.active {
	background-color: #EDEDED;
}
tr.active th {
	background-color: #EDEDED;
}

.card {
}

.card-header {
	background-image: url('bg2.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	font-size: 18pt;
}